---
import BaseHead from "../../layouts/Base.astro";
import ListOfArticles from "../../components/ListOfArticles.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main id="main-content">
    <ListOfArticles />
  </main>
</BaseHead>
