.tocTitle {
  margin: 0rem;
  font-weight: bolder;
  padding-left: 1rem;
}

.tocUl {
  list-style-type: none;
  padding-left: 1rem;
}

.tocLi {
  margin-top: 0rem;
  padding-top: 0.5rem;
}

.tocAnchor {
  text-decoration-line: none;
  color: var(--color-text-200);
}

.tocAnchorActive {
  text-decoration-line: none;
  color: var(--color-text-500);
}

.tocContainer {
  position: sticky;
  top: 2rem;
  font-size: 0.875rem;
}
