---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import ListOfArticles from '../components/ListOfArticles.astro';
import LatestProjects from '../components/LatestProjects.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main id="main-content">
      <Hero />
      <section aria-labelledby="recent-posts-title">
        <h2 id="recent-posts-title">Recent Posts</h2>
        <ListOfArticles />
      </section>
      <LatestProjects />
		</main>
		<Footer />
	</body>
</html>
