---
import BaseHead from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import ListOfArticles from "../components/ListOfArticles.astro";
import LatestProjects from "../components/LatestProjects.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main id="main-content">
    <div>
      <Hero />
      <section aria-labelledby="recent-posts-title">
        <h2 id="recent-posts-title">Recent Posts</h2>
        <ListOfArticles />
      </section>
      <LatestProjects />
    </div>
  </main>
</BaseHead>

<style>
  main {
    flex: 1 1 0%;
  }
</style>
