---
import Socials from "../components/Socials.astro";
const today = new Date();
---

<footer>
  <div class="container flex flex-col items-center justify-between gap-4 py-5">
    <Socials />
    <p class="text-center text-sm leading-loose">
      &copy; {today.getFullYear()} Dmitry Anisov. All rights reserved.
    </p>
  </div>
</footer>
