---
import Socials from '../components/Socials.astro'
const today = new Date();
---

<footer>
  <Socials />
  <p>	&copy; {today.getFullYear()} Dmitry Anisov. All rights reserved.</p>
</footer>
<style>
	footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
		padding: 25px;
    color: var(--color-text-200);
    font-size: var(--fs-200);
	}
  p {
    margin: 0;
  }
</style>
