---
import MainNav from "./MainNav.astro";
import { Sun } from "lucide-astro";
---

<header class="container">
  <a
    href="#main-content"
    class="absolute top-0 left-2 translate-y-[-120%] transition-transform py-2 px-6 border-none focus:translate-y-0 bg-primary text-primary-foreground"
    >skip navigation</a
  >
  <div class="flex justify-between items-center h-20 py-6">
    <div class="flex items-center gap-6 md:gap-10">
      <a href="/">
        <span class="font-bold">Dmitry Anisov</span>
      </a>
      <MainNav />
    </div>
    <button
      aria-label="auto"
      id="theme-toggle"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-muted hover:text-accent-foreground h-9 py-2 w-9 px-0"
      title="Toggles light and dark mode"
    >
      <Sun class="h-4 w-4" />
    </button>
  </div>
</header>
