---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="https://github.com/dim-anis" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=anis.dim@gmail.com" target="_blank">Email</HeaderLink>
	</nav>
  <button
    id="theme-toggle"
    aria-label="auto"
    class="theme-toggle"
    title="Toggles light and dark"
  >
    <svg xmlns="http://www.w3.org/2000/svg"  width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 9a3 3 0 0 0 0 6v-6z" />
      <path d="M6 6h3.5l2.5 -2.5l2.5 2.5h3.5v3.5l2.5 2.5l-2.5 2.5v3.5h-3.5l-2.5 2.5l-2.5 -2.5h-3.5v-3.5l-2.5 -2.5l2.5 -2.5z" />
    </svg>
  </button>
</header>
<style>
	header {
    display: flex;
    justify-content: space-between;
    align-items: center;
		margin: 2rem 0rem;
	}
	h2 {
		margin: 0.5em 0;
	}
  .theme-toggle {
    display: flex;
    align-items: center;
    border: 0;
    background: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    opacity: 0.8;
    color: var(--color-text-200);
  }
  .theme-toggle:hover {
    color: var(--color-text-400);
    opacity: 1;
  }
  .theme-toggle svg {
    inline-size: 100%;
    block-size: 100%;
  }
</style>
