---
import Socials from '../components/Socials.astro';
---

<section aria-labelledby="hero-title">
  <div class="hero-wrapper">
    <div>
      <div class="hero-without-socials">
        <div>
          <h1 id="hero-title">Dmitry Anisov</h1>
          <p>Welcome to my blog, where the world of web development converges with my passion for exploring cutting-edge technologies, mastering new programming languages, and fine-tuning my developer toolkit.</p>
        </div>
        <img src='../../dmitryanisov.webp' alt='Me busking in the sun on the beach wearing sunglasses' />
      </div>
      <Socials />
    </div>
  </div>
  <hr />
</section>
<style>
  h1 {
    margin-top: 3rem;
  }
  .hero-without-socials {
    display: flex;
    align-items: center;
  }
  p {
    color: var(--color-text-300);
  }
  img {
    display: none;
  }
  @media (min-width: 650px) {
    img {
      display: block;
      height: 15rem;
      border-radius: 50%;
    }
  }
</style>
