---
import Socials from '../components/Socials.astro';
---

<div>
  <h1>Dmitry Anisov</h1>
  <p>Welcome to my blog, where the world of web development converges with my passion for exploring cutting-edge technologies, mastering new programming languages, and fine-tuning my developer toolkit.</p>
  <Socials />
  <hr />
</div>
<style>
</style>
