---
import ProjectItem from "./ProjectItem.astro";

const latestProjects = [
  {
    name: "Pizza Dough Calculator",
    desc: "A pizza dough recipe calculator and organizer built in Next.js using the app router, server components, and server actions.",
    ghHref: "https://github.com/dim-anis/pizza-calculator",
    deployHref: "https://pizza-calculator-gray.vercel.app/",
  },
  {
    name: "Interpreter for a C-like Language",
    desc: "This is the result of having what seemed like way more fun than I should have diving into how interpreters work with one and only Thorsten Ball and his book Writing An Interpreter In Go",
    ghHref: "https://github.com/dim-anis/ts-interpreter",
  },
  {
    name: "Workout Tracker Telegram Bot",
    desc: "A workout tracker with nifty features such as progress tracking, stats analysis, and next workout prediction.",
    ghHref: "https://github.com/dim-anis/tg-workout-tracker",
  },
];
---

<section aria-labelledby="projects-title" class="container space-y-6 py-8">
  <div class="mx-auto flex max-w-[58rem] flex-col items-start space-y-6">
    <h2
      id="projects-title"
      class="mt-10 scroll-m-20 border-b pb-1 text-2xl font-semibold tracking-tight first:mt-0"
    >
      Projects
    </h2>
    <div class="grid md:grid-cols-2 gap-4">
      {latestProjects.map((project) => <ProjectItem {...project} />)}
    </div>
  </div>
</section>
