---
import ProjectItem from "./ProjectItem.astro";

const latestProjects = [
  {
    name: "BitTorrent client",
    desc: "Simple Bittorrent client built in Node.js from scratch. Inspired by Allen Kim's [How to make your own bittorrent client](https://allenkim67.github.io/programming/2016/05/04/how-to-make-your-own-bittorrent-client.html#introduction) guide.",
    ghHref: "https://github.com/dim-anis/bittorrent-client",
  },
  {
    name: "Interpreter for a C-like Language",
    desc: "This is the result of having what seemed like way more fun than I should have diving into how interpreters work with one and only Thorsten Ball and his book Writing An Interpreter In Go.",
    ghHref: "https://github.com/dim-anis/ts-interpreter",
  },
  {
    name: "Wrkt Trckr - Workout Tracker",
    desc: "Workout tracking mobile app built with React Native. Supports RPE (Rate of Perceived Exertion) tracking, allows tracking mutiple workouts per day, provides training statistics breakdown.",
    ghHref: "https://github.com/dim-anis/wrkt-trckr",
  },
];
---

<section aria-labelledby="projects-title" class="container space-y-6 py-8">
  <div class="mx-auto flex max-w-[58rem] flex-col items-start space-y-6">
    <h2
      id="projects-title"
      class="mt-10 scroll-m-20 border-b pb-1 text-2xl font-semibold tracking-tight first:mt-0"
    >
      Projects
    </h2>
    <div class="grid md:grid-cols-2 gap-4">
      {latestProjects.map((project) => <ProjectItem {...project} />)}
    </div>
  </div>
</section>
