---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          <FormattedDate date={post.data.pubDate} />
        </li>
      ))
    }
  </ul>
  <hr />
</section>
<style>
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
    justify-content: space-between;
  }
  ul li :global(time) {
    font-style: italic;
    font-size: var(--fs-300);
    color: var(--color-text-200);
  }
</style>
