---
import RecentPosts from "./RecentPosts.astro";
---

<section aria-labelledby="recent-posts-title" class="container space-y-6 py-8">
  <div class="mx-auto flex max-w-[58rem] flex-col items-start space-y-4">
    <h2
      id="recent-posts-title"
      class="mt-10 scroll-m-20 border-b pb-1 text-2xl font-semibold tracking-tight first:mt-0"
    >
      Recent Posts
    </h2>
    <RecentPosts />
  </div>
</section>
