---
import { Callout } from "./Callout";

type Props = {
  articleAgeInYears: number;
};
const { articleAgeInYears } = Astro.props;
const isPlural = articleAgeInYears > 1;
---

<Callout type="danger">
  <p>
    This article was written over {articleAgeInYears}
    {isPlural ? "years" : "year"} ago and may be outdated.
  </p>
</Callout>
