---
type Props = {
  articleAgeInYears: number;
};

const {articleAgeInYears}= Astro.props;
---

<div class="warning">
  <svg xmlns="http://www.w3.org/2000/svg"  width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
    <path d="M12 9v4" />
    <path d="M12 16v.01" />
  </svg>
  <p>This article was written over {articleAgeInYears > 1 ? `${articleAgeInYears} years` : `${articleAgeInYears} year`} ago and may be outdated</p>
</div>
<style>
  .warning {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: var(--fs-300);
    padding: 0.5rem;
    border: 2px solid var(--color-red-400);
    border-radius: 0.5rem;
    color: var(--color-red-400);
  }
  p {
    margin: 0;
  }
</style>
