---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, title, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
  <a aria-current={isActive ? "page" : undefined} href={href} {...props}>
    {title}
  </a>
</li>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a[aria-current="page"] {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
