---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, title, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li
  class=`${isActive ? "text-foreground" : "text-muted-foreground"} hover:text-foreground transition-colors text-sm`
>
  <a aria-current={isActive ? "page" : undefined} href={href} {...props}>
    {title}
  </a>
</li>
