---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<ul class="w-full">
  {
    posts.map((post) => (
      <li class="flex justify-between items-center hover:text-primary py-2">
        <a
          href={`/blog/${post.slug}/`}
          class="underline underline-offset-4 hover:text-primary"
        >
          {post.data.title}
        </a>
        <FormattedDate date={post.data.pubDate} />
      </li>
    ))
  }
</ul>
