---
import { Github, Linkedin, Mail, Rss, Twitter } from "lucide-astro";
type Props = {
  size?: string;
};
---

<ul class="flex gap-2">
  <li>
    <a
      href="https://github.com/dim-anis"
      aria-label="Github"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <Github class="hover:text-primary" />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/dmitry-anisov-4b62b872/"
      aria-label="LinkedIn"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <Linkedin class="hover:text-primary" />
    </a>
  </li>
  <li>
    <a
      href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=anis.dim@gmail.com"
      aria-label="Email"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <Mail class="hover:text-primary" />
    </a>
  </li>
  <li>
    <a
      href="https://dmitryanisov.com/rss.xml"
      aria-label="RSS"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <Rss class="hover:text-primary" />
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/DmitryAnisov"
      aria-label="Twitter"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <Twitter class="hover:text-primary" />
    </a>
  </li>
</ul>
